*{
    box-sizing: border-box;
}

.question-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.number{
    display: flex;
    justify-content: center;
}

.question_answer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 10px;
    max-width:700px;
    padding: 5px;
}

.question{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin: 5px;
    border-radius: 5px;
    background-color: lightslategray;
    color: rgb(255, 235, 205);
}

.answer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    flex-wrap: wrap;
    background-color: black;
    padding: 5px;
    width: 100%;
}

.one_answer{
    width:270px;
    height: 35px;
    border-radius: 5px;
    margin: 10px auto;
    background-color: lightslategray;
    color: rgb(255, 235, 205);
    transition: all 0.5s ease;
}

.redButton{
    background-color: red;
}

.greenButton{
    background-color: green;
}
