.quiz-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    height: 100vh;
}

.start, .next{
    width:270px;
    height: 30px;
    border-radius: 5px;
    margin: 10px auto;
    background-color: lightslategray;
    color: rgb(255, 235, 205);
}